* {
    background-color: rgba(194, 152, 90, 0.945);
   color:rgb(61, 17, 17) ;
   padding: auto;
   margin:auto;
   border: rgb(255, 165, 46);
}
#al {text-align: center;} 
ul {
    text-align: left ;
}
ol {
    text-align: left;
}


/* div {
    text-align: center} */
 /* h1 { 
    color:rgb(95, 29, 3)
};

h2 {
     color:rgb(13, 95, 13)
    };

h3 {
    color: rgb(13, 95, 13)};

h4 {
    color: green};

p {
    color: rgb(85, 5, 5); background-color: blanchedalmond;} */ 